.main-page{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
  }


.logo-image-header{
    width: 10%;
    height: auto;
    background-color: white;
    border-radius: 100%;
    padding: 1%;
    margin: 0 2em;
}

.menu-image-header{
    width: 8%;
    height: auto;
    margin: 0 2em;
    cursor: pointer;
}

.main-page .app-header{
    display: flex;
    justify-content: space-between; 
}
 
.header-left-container{
    display:flex;
    justify-content: left;
    
}

.header-right-container{
    display: flex;
    justify-content: right;
} 

.main-page-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4em;
    width: 100%;
    height: 100%;
}

.search-bar{
    width: 100%;    
    text-align: center;
    position: relative;
    display: inline-block;

    .fa-search { 
        color: #B4B4B4;
        position: absolute; 
        padding: 29px 12px;
        z-index: 1; 
      }
}


.search-bar-input{
    background-color: white;
    color: black;
    border-radius: 50px;
    height: 3em;
    width: 50%;
    font-size: large;
    border: 2px solid #B4B4B4 ;
    padding-left: 30px;
}


.search-bar-input::placeholder{
    color: #B4B4B4;
}

.new-project-button{
    margin:10px;    
    background-color: #C1ACF6;
    border-radius: 50px;
    font-size: large;
    font-weight: bold;
    height: 3em;
    border: 2px solid #B4B4B4 ;
}

.search-bar-input:focus,
.new-project-button:focus{
    outline: none;
}


.project-section{
    margin-top: 30px;
}
  
.project-section table {
    border-collapse: separate;
    border-spacing: 0;
}
  
.project-section th,
.project-section td {
    padding: 15px 100px;
    text-align: center;
    border-bottom: 2px solid #ddd;
    vertical-align: middle;
}
  
.project-section tbody tr a{
    cursor: pointer;
}

.project-section tbody tr:hover {
    background-color: #f2f2f2; /* Color gris claro al pasar el ratón */
}

  
.fa-ellipsis-v{
    color:#ddd;
    cursor: pointer;
}